*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
.idea/
/ca1/build/
/ca1/nbproject/private/
/ca1/web/bower_components/
/ca1/dist/
/ca2/build/
/ca2/nbproject/private/
/ca2/web/bower_components/
/ca2/dist/