<!DOCTYPE html>

<html>
    <head>
        <title>Note Display</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- load libs -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>

        <!-- load app -->
        <script src="note.js"></script>
    </head>
    <body>
        <div class="container" ng-app="noteApp" ng-controller="noteController">
            <h1> Note Display </h1>
            
            <div class="row">
                <label class="col-lg-2">
                    <input type="radio" ng-model="category.filter" value="{{ category.type.ALL }}">
                    All
                </label>
                <label class="col-lg-2">
                    <input type="radio" ng-model="category.filter" value="{{ category.type.SOCIAL }}">
                    Social
                </label>
                <label class="col-lg-2">
                    <input type="radio" ng-model="category.filter" value="{{ category.type.FOR_SALE }}">
                    For Sale
                </label>
                <label class="col-lg-2">
                    <input type="radio" ng-model="category.filter" value="{{ category.type.JOBS }}">
                    Jobs
                </label>
                <label class="col-lg-2">
                    <input type="radio" ng-model="category.filter" value="{{ category.type.TUTION }}">
                    Tuition
                </label>               
            </div>
            
            <table border="1" width="100%">
            <tr>
                <th>Title</th>
                <th>Date/Time</th>
                <th>Author</th>
                <th>Category</th>
                <th>Content</th>
            </tr>
            <tr ng-repeat="n in notes | orderBy: '-datetime' | filter:{ category: category.filter}">
                <td>{{ n.title }}</td>
                <td>{{ n.datetime }}</td>
                <td>{{ n.user }}</td>
                <td>{{ n.category }}</td>
                <td>{{ n.content }}</td>
            </tr>
            </table>
        </div>
    </body>
</html>
